%h1 Listing labors

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @labors.each do |labor|
      %tr
        %td= link_to 'Show', labor
        %td= link_to 'Edit', edit_labor_path(labor)
        %td= link_to 'Destroy', labor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Labor', new_labor_path
