%h1 New design

= render 'form'

= link_to 'Back', root_path # to do: country_region_catalogue_path(@country, @region, @catalogue) find a way to pass in the correct IDs so that you can direct people back to the country_region_catalogue they were looking at before creating a new design.
