// Place all the styles related to the factory_manufacturing_processes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
